*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    display: flex;
    background-color: black;
    color:white;
    font-family: sans-serif;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    .buttons{
        display: flex;
        align-self: flex-end;
        justify-content: space-around;
        align-items: center;
    }
        .buttons > span{
            background-color: gray;
            border-radius: 10px;
            line-height: 4vh;
            padding-inline:10px;
            margin-inline:5px;
        }

    .users{
        display: flex;
        /* align-items: center; */
        padding: 5vh 50px;
        justify-content: space-evenly;
        align-content: space-between;
        flex-wrap: wrap;
    }

        .webcam{
            display: flex;
            width:180px;
            height:140px;
            background-image: url(../img/roger_roger.png);
            background-size: contain;
            align-items: flex-end;
            justify-content: flex-start;
        }

            .webcam > span{
                background-color: rgba(0,0,0,0.5);
                line-height: 4vh;
            }

    nav{
        color:gray;
    }